.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 480px;
	margin-bottom: 80px;


	&_field {
		margin-top: 24px;
	}
	&_header {
		text-align: center;
	}

	&_comment {
	 & + & {
		 margin-top: 16px;
	 }
	}
}