.total {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 52px;
}
.cost {
	display: flex;
	align-items: center;
}
.rightSide {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: flex-end;
	justify-content: stretch;
}
.choosenIngediens {
	height: 100%;
	overflow: auto;
}
.constructorItem {
	height: 100%;
	overflow: auto;
	position: relative;
	padding-left: 32px;
	&__draggable {
		cursor: pointer;
	}
}
.constructorItemIcon {
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
