.page {

	.main {
		height: calc(100vh - 88px);
		//width: 1280px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.content {
		display: flex;
		margin: 0 -10px;
	}
	.side {
		width: 50%;
		height: 100%;
		padding: 0 10px;
	}
}
