.group {
	margin-top: 0;
}
.cardsList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto 1fr);
	grid-column-gap: 24px;
	grid-row-gap: 20px;
}
.ingredientCardWrapper {
	list-style-type: none;
	cursor: pointer;
}
.content {
	 height: 100%;
	 overflow-y: scroll;
	 scrollbar-width: thin;
	 margin-bottom: 52px;
 }